{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %} Contacts | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
        margin-bottom: 0px !important;
        background-color:#93b3ee;
}
.jumbotron {
        background-color:#93b3ee;
        color:#fff;
}
{% endblock %}
</style>

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2> Gestion des produits </h2><hr /><br />

		<form method="post" action="" class="uniForm">
		 {% csrf_token %}
     {% crispy form %}
    </form>
     </div>
    </div>
 </div>
{% endblock %}